body {
    background:#111010;
}

header {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  overflow: hidden;
  margin-bottom: 6vh;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.header-promos {
    background: url(assets/promos.jpg);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
    width: auto;
    background-position: 0 -393px;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('assets/header.jpg') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

h2 {
    letter-spacing: 0;
    margin-top: 10px;
    font-family: 'big_noodle_titling', sans-serif;
    font-size: 5em;
    line-height: 1em;
}

.separador {
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.1);
    margin: 5vh 0;
}

.btn {
   border: 0px;
    font-family: 'big_noodle_titling', sans-serif;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    padding: 0.5% 6%;
    transition: 600ms;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(29, 113, 184);
    --hover-borderSize: 0px;
    --hover-bgc: #198ae6;
    --hover-color: #ffffff;
    margin: 0 1vw;
}

.btn:hover{
color: rgb(255, 255, 255);
background: rgb(25, 138, 230) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 0px;
border-style: solid;
}

.btn-sub {
   border: 0px;
    font-family: 'big_noodle_titling', sans-serif;
	font-size: 3.5vw;
    color: #eee;
    padding: 0.5% 6%;
    transition: 600ms;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
	border: 3px solid #eee;
    background: transparent;
    --hover-borderSize: 0px;
    --hover-bgc: #198ae6;
    --hover-color: #fff;
    margin: 0 1vw;
}

.btn-sub:hover{
color: #fff;
background: rgba(255,255,255,0.1) none repeat scroll 0% 0% / auto padding-box border-box;
border: 3px solid #fff;
}

.btn-links {
    border: 0px;
    font-family: 'big_noodle_titling', sans-serif;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    padding: 1% 1%;
    transition: 1180ms;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    width:max-content;
    background: rgb(29, 113, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    --hover-borderSize: 0px;
    --hover-bgc: #198ae6;
    --hover-color: #ffffff;
    margin: 0 1vw;
}

.container-cartas {
    z-index: 1;
    position: relative;
    text-align: center;
    max-width:100%;
}

.container-header {
    z-index: 1;
    position: relative;
    text-align: center;
    max-width:100%;
}

.container-botones {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-botones-cartas {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
	margin: 0 5vw;
}

.container-botonesl {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container {
    flex: 0 auto;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
}

.w-container:before, .w-container:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.cartas-titulo {
    font-size: 17vw;
    line-height: .8em;
}

.links-titulo {
    font-size: 16vw;
    line-height: .8em;
    margin-top: 3vh;
}

.wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper .wrapper__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {

    .separador {
    height: 4px;
    margin: 2vh 0;
}

.btn {
	font-size: 6vw;
}

.btn-sub {
	font-size: 6vw;
}

.btn-links {
   font-size: 5vw;
}

.links-titulo {
    margin-top: 1vh;
}

}

.fullscreen-video-container {
  position: relative;
  height: 100vh; 
  width: 100vw;
   overflow: hidden;
}

.fullscreen-video-container video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

gmp-map {
  height: 35vh;
}

.menu-title {
    margin-bottom: 5vh;
    padding: 2vh 2vw;
    font-size: 9vw;
    border-bottom: 3px solid grey;
    text-align: center;
}

.menu-block {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 25px;
    padding: 0vh 5vw;
}

.dish-price {
    font-size: 2.5rem;
    text-align: right;
    font-family: 'big_noodle_titling';
}


.menu-block {
    padding: 0vh 1.5vw;
}
}

.menu-block { margin-bottom: 30px; }
.menu-title { border-bottom: 3px solid #e0e6e3; margin-bottom: 36px; padding-bottom: 10px; }
.menu-content { border-bottom: 1px solid grey; margin-bottom: 30px; }
.dish-img { }
.dish-content { margin-top: 0px; margin-bottom: 14px; }
.dish-meta { font-size: 14px; text-transform: uppercase; display: block; width: 90%; line-height: 1.7; color:#ddd; }
.dish-title { margin-bottom: 6px; font-size: 26px; text-transform: uppercase; font-weight: 500; position: relative; }
.dish-price { font-family: 'big_noodle_titling', sans-serif; position: absolute; right: 16px; top: 0px; color: #fff; font-weight: 500; }
.well-block .dish-meta { width: 100%; }
.dish-price { font-size: 26px; color: #fff; font-weight: 500; position: inherit; font-size: 34px; }
p { margin: 0 0 24px; line-height: 1.6; }
p:last-child { margin: 0px; }
ul, ol { list-style: none; margin: 0; padding: 0; }

@media (min-width: 960px) {
	.menu-title {
    margin-bottom: 5vh;
    padding: 2vh 2vw;
    font-size: 3vw;
    border-bottom: 3px solid grey;
    text-align: center;
}
}


@media only screen and (max-width: 992px) and (min-width: 576px) {
	.menu-title {
    margin-bottom: 5vh;
    padding: 2vh 2vw;
    font-size: 4vw;
    border-bottom: 3px solid grey;
    text-align: center;
}
.col-md-9 {
        width: 95%;
        margin: 1vh 1vw;
    }
.dish-meta {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #ddd;
}
}

@media (min-width: 992px) {
    .col-lg-9 {
        width: 100%;
    }
}

@media (max-width: 576px) {

.dish-content {
    margin-top: 0px;
    margin-bottom: 14px;
    margin: 0px 4vw 2vh 4vw;
}
i.fas.fa-pizza-slice.icono-carta {
    font-size: 3.8vw;
}
}